.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6vh;
    padding-right: 6vh;
}
.logo{
    width: 18vh;
}
.navLinks{
    display: flex;
    align-items: center;
    gap: 3vh;
    font-weight: bold;
    font-size: 22px;
}
.navLinks a{
    color: var(--white);
    text-decoration: none;
}
.navLinks a:hover{
    color: var(--primary-color);
}
.navLinks{
    list-style: none;
}
.account{
    background-color: var(--secondary-color);
    padding: 8px;
    width: 150px;
    color: var(--white);
    border-radius: 8vh;
    text-align: center;
    transition: 0.5s;
}
.account:hover{
    background-color: var(--primary-color);
    transition: 0.5s;
}
.navbarmain{
    background-color: transparent;
}

.account {
    display: flex;
    align-items: center;
  }
  
  .logoutButton {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
  }
  
  .logoutButton:hover {
    text-decoration: underline;
  }